<input type="number" [(ngModel)]="time">

<h1 *ngIf="time<12">Good Morning</h1>
<h1 *ngIf="time>=12&& time<17">Good Afternoon</h1>
<h1 *ngIf="time>=17">Good Evening</h1>

<h1 *ngFor="let age of ages">Age is {{age | age}}</h1>

<h1 *ngFor="let state of states">State is {{state}}</h1>

<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}

    </option>
</select>
<br><br>

<h2 *ngFor="let user of users">Name is {{user.name}} and my age is {{user.age | age}} and my phone number {{user.phone}}</h2>

<input type="text" [(ngModel)]="term" (keypress)="filter()">

<button (click)="agehighTolow()">Age high to low</button>

<button (click)="increaseByone()">Increase age by one</button>

<button (click)="total()">Total</button>

<table class="table table-success table-hover table-bordered">
    <thead>
<tr>
    <th>S:No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Marks</th>
    <th>Phone</th>
    <th>actions</th>
</tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of users; let i=index">
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td [ngClass]="{'child':user.age<12, 'teen':user.age>=12 && user.age<19, 'young':user.age>=19}">{{user.age | age}}</td>
        <td [ngStyle]="{ 'color': user.marks>35?'green':'red'}">{{user.marks | price}}</td>
        <td>{{user.phone}}</td>
        <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
     </tr>
    </tbody>
</table>