<div class="parent">

    <div class="child">
        <form [formGroup]="loginForm">
            <h2>Login</h2>

            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
                <label for="email">Email</label>
            </div>

            <div class="form-floating mt-3 mb-3">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName="password">
                <label for="pwd">Password</label>
            </div>

            <button (click)="login()">Login</button>
        </form>

    </div>

</div>