<section class="popup">

    <form>
        <h2>Create a New Book</h2>
        <div class="mb-3 mt-3">
            <label for="vehicle" class="form-label">Image URL:</label>
            <input type="text" class="form-control" placeholder="Enter Image URL" formControlName="">
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label">Title:</label>
            <input type="text" class="form-control" id="manu" placeholder="Enter Title of the Book" formControlName="">
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label">Purchase Link:</label>
            <input type="text" class="form-control" id="model" placeholder="Enter Purchase Link" formControlName="">
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label">Published Year:</label>
            <input type="text" class="form-control" id="type" placeholder="Enter Published Year" formControlName="">
        </div>
        <div>
            <button type="button" class="btn btn-primary">Submit</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
       

    </form>
</section>