.popup{
    position: fixed;
    top: 100px;
    bottom: 100px;
    right: 100px;
    border: 2px solid orange;
    width: max(1200px,60%);
    
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

@media screen and (max-width:540px) {
    .popup{
        position: fixed;
        top: 10%;
        bottom: 10%;
        right: 10%;
        border: 2px solid orange;
        width: 80%;
        
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
}