<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="about">About</h2>
        <h2 routerLink="data-binding">Data Binding</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="grade">Grade</h2>
        <h2 routerLink="dice">Dice</h2>
        <h2 routerLink="bank">Bank</h2>
        <h2 routerLink="createBank">Create Account</h2>
        <h2 routerLink="vehicles">Vehicles</h2>
        <h2 routerLink="createVehicle">Create Vehicle</h2>
        <hr>
        <button (click)="logout()">Logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>